@import "tailwindcss";

@theme {
  --color-primary: #992E3C;
  --color-secondary: #BF6B76;
  --color-background: #3A1A1F;
  --color-text: #F7E8E8;
}

body {
  @apply font-sans antialiased 
         text-[--color-text]
         bg-gradient-to-b 
         from-[#1f0f0f] 
         to-[#5a1f1f];
}

h1, h2, h3 {
  @apply text-[--color-text-soft];
}
