@import "tailwindcss";

@theme {
  --color-primary: #FF6363;
  --color-secondary: #3A86FF;
  --color-background: #F5F5F5;
}

/* Optional: fonts */
body {
  @apply font-sans antialiased bg-background text-primary;
}


